# Map, Filter, Reduce, Lambda & Recursion

## Tasks Today:

1) <b>Lambda Functions</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Syntax <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Saving to a Variable <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Multiple Inputs <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Passing a Lambda into a Function <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Returning a Lambda from a Function <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) In-Class Exercise #1 <br>
2) <b>Map</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Syntax <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Using Lambda's with Map <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) In-Class Exercise #2 <br>
3) <b>Filter</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Syntax <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Using Lambda's with Filter <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) In-Class Exercise #3 <br>
4) <b>Reduce</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Syntax <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Using Lambda's with Reduce <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) In-Class Exercise #4 <br>
5) <b>Recursion</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Implementing a Base <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Writing a Factorial Function <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) In-Class Exercise #5 <br>
6) <b>Generators & Iterators</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Yield Keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Inifinite Generator <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) In-Class Exercise #6 <br>
7) <b>Exercises</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Exercise #1 - Filtering Empty Strings <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Exercise #2 - Sorting with Last Name <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Exercise #3 - Conversion to Farhenheit <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Exercise #4 - Fibonacci Sequence <br>

## Lambda Functions <br>
<p>Lambda functions... or "Anonymous Functions" are referring to inline functions with no name. The keyword lambda denotes the no name function, and executes within a single line. Without saving it to a variable; however, it is not able to be used, unless passed in either as a paramater or within list comprehension.<br>Written as "(keyword lambda) (one or more inputs) (colon) (function to be executed)"</p>

#### Syntax

In [1]:
def add_two(x):
    return x + 2

print(add_two)
add_two

<function add_two at 0x000001F47D6E45E0>

In [2]:
# lambda param: one-line function

lambda x: x + 2

In [3]:
print(lambda x: x + 2)

<function <lambda> at 0x000001F47D6E57E0>

In [4]:
add_two(10)

12

In [6]:
# IIFE - Immediately Invoked Function Expression
# Execute a lambda function immediately after defining the function
# Syntax: (lambda param: expression)(arg)

(lambda x: x + 2)(10)

12

In [7]:
(lambda x: x + 2)(20)

22

In [9]:
num = 25

num_plus_two = (lambda x: x + 2)(num)

print(num_plus_two)
print(type(num_plus_two))

27
<class 'int'>

#### Saving to a Variable

In [10]:
named_lambda = lambda y: y**2

print(named_lambda)
print(type(named_lambda))

<function <lambda> at 0x000001F47D6E5360>
<class 'function'>

In [11]:
named_lambda(10)

100

In [12]:
def my_function(y):
    return y**2


another_function = my_function

In [13]:
print(another_function)
print(type(another_function))

<function my_function at 0x000001F47D6E64D0>
<class 'function'>

In [14]:
another_function(10)

100

#### Multiple Inputs

In [16]:
def multiply(x, y, z):
    return x * y * z


multiply(10, 11, 12)

1320

In [17]:
multiply(5, 6, 7)

210

In [18]:
# Syntax: lambda param1, param2, etc: expression
lambda x, y, z: x * y * z

In [20]:
# As an IIFE - (lambda param1, param2, etc: expression)(arg1, arg2, etc.)
(lambda x, y, z: x * y * z)(10, 11, 12)

1320

In [25]:
def accept_args(*args):
    return args

accept_args(1, 2, 3, 4, 5)

(1, 2, 3, 4, 5)

In [26]:
lambda *args: args

In [30]:
(lambda *args: args)('a', 'b', 'c', 'd')

('a', 'b', 'c', 'd')

In [34]:
def accept_kwargs(**kwargs):
    return kwargs

accept_kwargs(name='Brian', age=88, city='Chicago')

{'name': 'Brian', 'age': 88, 'city': 'Chicago'}

In [37]:
(lambda **kwargs: kwargs)(name='Travis', age=77, city='New York')

{'name': 'Travis', 'age': 77, 'city': 'New York'}

In [38]:
def get_evens(nums):
    output = []
    for num in nums:
        if num % 2 == 0:
            output.append(num)
    return output

get_evens([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])

[2, 4, 6, 8, 10]

In [41]:
lambda nums: [num for num in nums if num % 2 == 0]

In [42]:
(lambda nums: [num for num in nums if num % 2 == 0])([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])

[2, 4, 6, 8, 10]

#### Passing a Function into a Function

In [43]:
def apply_to_each(a_list, f):
    """
    Print the return value of function f applied to every element in a_list
    a_list -> List of elements to execute function f on
    f -> function to execute
    """
    for element in a_list:
        f_return = f(element)
        print(f_return)

In [44]:
months = ['January', 'February', 'March', 'April', 'May', 'June']

In [45]:
def get_first_letter(string):
    return string[0]

In [48]:
get_first_letter('hello how are you today?')

'h'

In [49]:
apply_to_each(months, get_first_letter)

J
F
M
A
M
J

In [50]:
def reverse_string(string):
    return string[::-1]

In [51]:
apply_to_each(months, reverse_string)

yraunaJ
yraurbeF
hcraM
lirpA
yaM
enuJ

#### Passing a Lambda into a Function

In [52]:
# Call the apply_to_each function, pass in a lambda function as f argument

apply_to_each(months, lambda month: month[-1])

y
y
h
l
y
e

In [53]:
apply_to_each([1, 2, 3, 4, 5], lambda x: x**2)

1
4
9
16
25

In [54]:
apply_to_each(months, lambda string: string[::-1])

yraunaJ
yraurbeF
hcraM
lirpA
yaM
enuJ

#### Returning a Function from a Function

In [55]:
state = 'Illinois'

def welcome(name):
    city = 'Chicago'
    print(f"Hello {name}, welcome to {city}, {state}")
    return city

x = welcome('Brian')

Hello Brian, welcome to Chicago, Illinois

In [56]:
print(city)

NameError: name 'city' is not defined

In [57]:
print(x)

Chicago

In [60]:
def my_outer_function(name):
    print(f"Hello {name}")
    
    # Define a function - will be scoped to my_outer_function
    def my_inner_function():
        city = 'Honolulu'
        print(f'This is the inner function {name} from {city}')
    # Execute the inner function defined here
    my_inner_function()
    
#     print(f'Goodbye {name} from {city}') # NameError: name 'city' is not defined
    
    
my_outer_function

In [61]:
my_outer_function('Holly')

Hello Holly
This is the inner function Holly from Honolulu

In [62]:
my_inner_function

NameError: name 'my_inner_function' is not defined

In [63]:
def my_outer_function(name):
    print(f"Hello {name}")
    
    # Define a function - will be scoped to my_outer_function
    def my_inner_function():
        city = 'Honolulu'
        print(f'This is the inner function {name} from {city}')
    # Return the inner function defined here
    return my_inner_function

In [64]:
y = my_outer_function('Holly')

Hello Holly

In [65]:
my_inner_function

NameError: name 'my_inner_function' is not defined

In [67]:
print(y)
print(type(y))

<function my_outer_function.<locals>.my_inner_function at 0x000001F47F2C0940>
<class 'function'>

In [68]:
# Execute the return value function
y()

This is the inner function Holly from Honolulu

In [69]:
print(name)

NameError: name 'name' is not defined

In [70]:
def create_multiplier(num):
    def multiply(x):
        return num * x
    return multiply

In [71]:
five_times = create_multiplier(5)
print(five_times)

<function create_multiplier.<locals>.multiply at 0x000001F47F20AF80>

In [76]:
print(five_times(10))
print(five_times(5))
print(five_times(8))

50
25
40

In [77]:
three_times = create_multiplier(3)
print(three_times)

<function create_multiplier.<locals>.multiply at 0x000001F47F2C16C0>

In [78]:
print(three_times(10))
print(three_times(5))
print(three_times(8))

30
15
24

#### Returning a Lambda from a Function

In [80]:
def new_multiplier(num):
    return lambda x: num * x

In [81]:
four_times = new_multiplier(4)
print(four_times)
four_times

<function new_multiplier.<locals>.<lambda> at 0x000001F47F2C0EE0>

In [83]:
print(four_times(10))
print(four_times(5))

40
20

#### If Statements within Lambdas

In [84]:
def double_or_square(number):
    # If the number is even, double it
    if number % 2 == 0:
        return number * 2
    # if the number is odd, square it
    else:
        return number ** 2
    
print(double_or_square(10))
print(double_or_square(5))

20
25

In [85]:
# Ternary: value_if_true if condition else value_if_false
def double_or_square2(number):
    return number * 2 if number % 2 == 0 else number ** 2

print(double_or_square2(10))
print(double_or_square2(5))

20
25

In [86]:
# As a lambda function
lambda number: number * 2 if number % 2 == 0 else number ** 2

In [87]:
# IIFE
(lambda number: number * 2 if number % 2 == 0 else number ** 2)(10)

20

In [88]:
(lambda number: number * 2 if number % 2 == 0 else number ** 2)(5)

25

In [89]:
numbers = [i for i in range(1,11)]

apply_to_each(numbers, lambda num: num * 2 if num % 2 == 0 else num ** 2)

1
4
9
8
25
12
49
16
81
20

#### In-Class Exercise #1 <br>
<p>Write a lambda function that takes in three arguments <code>a</code>,<code>b</code>,<code>c</code> and returns the product of <code>a</code> and the difference of <code>b</code> and <code>c</code></p>

In [ ]:
# Example 1 
# a = 10, b = 5, c = 2
# Output: 30

# Example 2
# a = 20, b = 10, c = 5
# Output: 100

In [94]:
def calculate(a, b, c):
    return a * (b - c)

calculate(10, 5, 2)

30

In [90]:
lambda a, b, c: a * (b - c)

In [92]:
(lambda a, b, c: a * (b - c))(10, 5, 2)

30

In [93]:
(lambda a,b,c: a*(b-c))(20, 10, 5)

100

In [100]:
(lambda nums: nums[0] * (nums[1]-nums[2]))([10, 5, 2])

30

In [101]:
(lambda nums: nums[0] * (nums[1]-nums[2]))((10, 5, 2))

30

## Map <br>
<p>The map function allows you to iterate over an entire list while running a function on each item of the list. This is why the map function works well with lambda's, because it simplifies things and you write less lines of code.<br>The syntax for a map function is "map(function to be used, list to be used)"<br>However, you must be careful, as the map function returns a map object, not a list. To turn it into a list we use the list() type conversion.</p>

In [102]:
help(map)

Help on class map in module builtins:

class map(object)
 |  map(func, *iterables) --> map object
 |
 |  Make an iterator that computes the function using arguments from
 |  each of the iterables.  Stops when the shortest iterable is exhausted.
 |
 |  Methods defined here:
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __next__(self, /)
 |      Implement next(self).
 |
 |  __reduce__(...)
 |      Return state information for pickling.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.

#### Syntax

In [103]:
def apply_to_each(a_list, f):
    """
    Append the return value of function f applied to every element in a_list to a new list.
    Returns the new list
    a_list -> List of elements to execute function f on
    f -> function to execute
    """
    new_list = []
    for element in a_list:
        f_return = f(element)
        new_list.append(f_return)
    return new_list

In [104]:
apply_to_each(months, lambda m: m[::-1])

['yraunaJ', 'yraurbeF', 'hcraM', 'lirpA', 'yaM', 'enuJ']

In [105]:
months2 = ['July', 'August', 'September', 'October', 'November', 'December']

In [106]:
def reverse_title_case(string):
    return string[0].lower() + string[1:].upper()

reverse_title_case('Example')

'eXAMPLE'

In [108]:
# map(function, *iterables -> List, Tuple, String, Set, Dictionary, etc)

list(map(reverse_title_case, months2))

['jULY', 'aUGUST', 'sEPTEMBER', 'oCTOBER', 'nOVEMBER', 'dECEMBER']

In [109]:
map_return = map(reverse_title_case, months2)
print(map_return)

<map object at 0x000001F400089D20>

In [110]:
help(next)

Help on built-in function next in module builtins:

next(...)
    next(iterator[, default])

    Return the next item from the iterator. If default is given and the iterator
    is exhausted, it is returned instead of raising StopIteration.

In [117]:
next(map_return)

StopIteration:

In [118]:
def print_when_executed(value):
    print(f'This function is being executed with the value {value} right now')
    return value + value

In [119]:
abc = map(print_when_executed, [1, 2, 3, 4, 5, 6])
print(abc)

<map object at 0x000001F40008A260>

In [122]:
next(abc)

This function is being executed with the value 3 right now

6

In [123]:
list(map(print_when_executed, [1, 2, 3, 4, 5, 6]))

This function is being executed with the value 1 right now
This function is being executed with the value 2 right now
This function is being executed with the value 3 right now
This function is being executed with the value 4 right now
This function is being executed with the value 5 right now
This function is being executed with the value 6 right now

[2, 4, 6, 8, 10, 12]

In [125]:
for yielded_value in map(print_when_executed, [1, 2, 3, 4, 5, 6]):
    print(yielded_value)

This function is being executed with the value 1 right now
2
This function is being executed with the value 2 right now
4
This function is being executed with the value 3 right now
6
This function is being executed with the value 4 right now
8
This function is being executed with the value 5 right now
10
This function is being executed with the value 6 right now
12

In [129]:
x_values = [1, 2, 3, 4, 5]
y_values = [10, 20, 30, 40, 50]

def multiply_x_y(x, y):
    print(f"{x=}, {y=}")
    return x * y

In [130]:
name = 'Brian'

print(f"name={name}")
print(f"{name=}")

name=Brian
name='Brian'

In [132]:
# the number of positional arguments required for the function should be equal to the number of iterables
# e.g. multiply_x_y takes in two arguments, so we pass in two iterables (x_values, y_values)

list(map(multiply_x_y, x_values, y_values))

x=1, y=10
x=2, y=20
x=3, y=30
x=4, y=40
x=5, y=50

[10, 40, 90, 160, 250]

In [134]:
x_values2 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
y_values2 = [10, 20, 30, 40, 50, 60]

list(map(multiply_x_y, x_values2, y_values2))

x=1, y=10
x=2, y=20
x=3, y=30
x=4, y=40
x=5, y=50
x=6, y=60

[10, 40, 90, 160, 250, 360]

In [140]:
x_values3 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
y_values3 = [5, 10, 15, 20]

nums_multiply = []

if len(x_values3) > len(y_values3):
    shorter = len(y_values3)
else:
    shorter = len(x_values3)

for i in range(shorter):
    return_val = multiply_x_y(x_values3[i], y_values3[i])
    nums_multiply.append(return_val)
    
print(nums_multiply)

x=1, y=5
x=2, y=10
x=3, y=15
x=4, y=20
[5, 20, 45, 80]

In [141]:
def return_hello_world(value):
    return 'Hello World'

list(map(return_hello_world, months))

['Hello World',
 'Hello World',
 'Hello World',
 'Hello World',
 'Hello World',
 'Hello World']

#### Using Lambda's with Map

In [148]:
from random import randint

nums = [randint(1,50) for _ in range(10)]

print(nums)

[20, 17, 36, 15, 35, 34, 10, 21, 20, 43]

In [150]:
list(map(lambda num: num**2, nums))

[400, 289, 1296, 225, 1225, 1156, 100, 441, 400, 1849]

In [151]:
list(map(lambda m: m[0].lower() + m[1:].upper(), months))

['jANUARY', 'fEBRUARY', 'mARCH', 'aPRIL', 'mAY', 'jUNE']

In [152]:
alphabet = 'abcdefghijklmnopqrstuvwxyz'

unicode = list(map(lambda letter: ord(letter), alphabet))
print(unicode)

[97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122]

In [153]:
vowels = ('a', 'e', 'i', 'o', 'u')

upper_vowels = tuple(map(lambda v: v.upper(), vowels))

print(upper_vowels)

('A', 'E', 'I', 'O', 'U')

In [154]:
list(map(lambda num: num**3, range(10,21)))

[1000, 1331, 1728, 2197, 2744, 3375, 4096, 4913, 5832, 6859, 8000]

In [155]:
list(map(lambda name: "Hello " + name, ['Brian', 'Sarah', 'Travis', 'Kevin']))

['Hello Brian', 'Hello Sarah', 'Hello Travis', 'Hello Kevin']

In [156]:
for val in map(lambda name: "Hello " + name, ['Brian', 'Sarah', 'Travis', 'Kevin']):
    print(val)

Hello Brian
Hello Sarah
Hello Travis
Hello Kevin

#### In-Class Exercise #2 <br>
<p>Use the map function to double each number if it is even and halve it if it is odd</p>

In [159]:
numbers = range(1,11)

def double_or_half(number):
    return number * 2 if number % 2 == 0 else number / 2

# [0.5, 4, 1.5, 8, 2.5, 12, 3.5, 16, 4.5, 20]
list(map(double_or_half, numbers))

[0.5, 4, 1.5, 8, 2.5, 12, 3.5, 16, 4.5, 20]

In [160]:
list(map(lambda num: num*2 if num%2==0 else num/2, numbers))

[0.5, 4, 1.5, 8, 2.5, 12, 3.5, 16, 4.5, 20]

In [161]:
for val in map(lambda num: num*2 if num%2==0 else num/2, numbers):
    print(val)

0.5
4
1.5
8
2.5
12
3.5
16
4.5
20

## Filter() <br>
<p>Filter's are similar to the map function, where you're able to pass a function argument and a list argument and filter out something from the list based on the conditions passed. Similar to the map function, it returns a filter object, so you need to type convert it to a list()</p>

In [162]:
help(filter)

Help on class filter in module builtins:

class filter(object)
 |  filter(function or None, iterable) --> filter object
 |
 |  Return an iterator yielding those items of iterable for which function(item)
 |  is true. If function is None, return the items that are true.
 |
 |  Methods defined here:
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __next__(self, /)
 |      Implement next(self).
 |
 |  __reduce__(...)
 |      Return state information for pickling.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.

#### Syntax

In [163]:
names = ['Bob', 'Billy', 'Alex', 'Barbara', 'Amy', 'Andy', 'Catherine', 'Cameron', 'Ben']
print(names)

['Bob', 'Billy', 'Alex', 'Barbara', 'Amy', 'Andy', 'Catherine', 'Cameron', 'Ben']

In [164]:
def starts_with_a(name):
    return name[0].upper() == 'A'

a_names_map = list(map(starts_with_a, names))
print(a_names_map)

[False, False, True, False, True, True, False, False, False]

In [165]:
# Syntax: filter(function_to_apply, iterable -> List,Tuple,Set,Dict,String,etc)
a_names_filter = list(filter(starts_with_a, names))
print(a_names_filter)

['Alex', 'Amy', 'Andy']

In [166]:
nums = [num for num in range(1,11)]
print(nums)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [167]:
def remainder(num):
    # Will return the remainder of number after being divided by 3
    return num % 3

In [178]:
remainder(102)

0

In [168]:
nums_map = list(map(remainder, nums))
print(nums_map)

[1, 2, 0, 1, 2, 0, 1, 2, 0, 1]

In [169]:
nums_filter = list(filter(remainder, nums))
print(nums_filter)

[1, 2, 4, 5, 7, 8, 10]

In [170]:
different_vals = ["hello", "", 0, 100, 1.0, 0.0, None, False, True, [1, 2, 3], {}, len]

list(filter(None, different_vals))

['hello', 100, 1.0, True, [1, 2, 3], <function len(obj, /)>]

#### Using Lambda's with Filter()

In [171]:
print(names)

['Bob', 'Billy', 'Alex', 'Barbara', 'Amy', 'Andy', 'Catherine', 'Cameron', 'Ben']

In [173]:
b_names = list(filter(lambda name: name[0].upper() == 'B', names))
print(b_names)

['Bob', 'Billy', 'Barbara', 'Ben']

In [174]:
my_info = "I live at 123 Real Street, City, ST 85928. My phone numbe is (555) 555-4321"

digits = list(filter(lambda char: char.isdigit(), my_info))
print(digits)

['1', '2', '3', '8', '5', '9', '2', '8', '5', '5', '5', '5', '5', '5', '4', '3', '2', '1']

In [179]:
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(nums)

non_threes = list(filter(lambda num: num % 3, nums))

print(non_threes)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 4, 5, 7, 8, 10]

#### In-Class Exercise #3 <br>
<p>Use the filter function to that take in a list of cities as strings and returns a list of cities with at least two words in the name</p>

In [181]:
cities = ['Chicago', 'Los Angeles', 'New York City', 'Miami', 'Oklahoma City', 'Baton Rouge', 'Boston', 'Denver']
# Output: ['Los Angeles', 'New York City', 'Oklahoma City', 'Baton Rouge'] 

def multi_word_city(city):
    return len(city.split()) > 1

multi_cities = list(filter(multi_word_city, cities))
print(multi_cities)

['Los Angeles', 'New York City', 'Oklahoma City', 'Baton Rouge']

In [182]:
cities2 = list(filter(lambda city: len(city.split()) > 1, cities))

print(cities2)

['Los Angeles', 'New York City', 'Oklahoma City', 'Baton Rouge']

In [183]:
import re

cities3 = list(filter(lambda city: re.search('\s', city), cities))

print(cities3)

['Los Angeles', 'New York City', 'Oklahoma City', 'Baton Rouge']

## Reduce() <br>
<p>Be very careful when using this function, as of Python 3 it's been moved to the 'functools' library and no longer is a built-in function.<br>The creator of Python himself, says to just use a for loop instead.</p>

In [184]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

In [186]:
from functools import reduce

help(reduce)

Help on built-in function reduce in module _functools:

reduce(...)
    reduce(function, iterable[, initial]) -> value

    Apply a function of two arguments cumulatively to the items of a sequence
    or iterable, from left to right, so as to reduce the iterable to a single
    value.  For example, reduce(lambda x, y: x+y, [1, 2, 3, 4, 5]) calculates
    ((((1+2)+3)+4)+5).  If initial is present, it is placed before the items
    of the iterable in the calculation, and serves as a default when the
    iterable is empty.

#### Syntax

In [187]:
def add_nums(x, y):
    print('='*20)
    print(f"{x=}")
    print(f"{y=}")
    print(f"return: {x + y}")
    return x + y

In [188]:
result_add = reduce(add_nums, [1, 2, 3, 4, 5])
print(result_add)

====================
x=1
y=2
return: 3
====================
x=3
y=3
return: 6
====================
x=6
y=4
return: 10
====================
x=10
y=5
return: 15
15

In [189]:
def find_max(a, b):
    print('='*20)
    print(f"{a=}")
    print(f"{b=}")
    print(f"return: {a if a > b else b}")
    return a if a > b else b

In [198]:
random_nums = [randint(1,50) for _ in range(10)]
print(random_nums)

[45, 15, 28, 27, 33, 10, 48, 21, 48, 24]

In [199]:
max_value = reduce(find_max, random_nums)
print(max_value)

====================
a=45
b=15
return: 45
====================
a=45
b=28
return: 45
====================
a=45
b=27
return: 45
====================
a=45
b=33
return: 45
====================
a=45
b=10
return: 45
====================
a=45
b=48
return: 48
====================
a=48
b=21
return: 48
====================
a=48
b=48
return: 48
====================
a=48
b=24
return: 48
48

In [200]:
max_value = random_nums[0]
for num in random_nums:
    if num > max_value:
        max_value = num
        
print(max_value)

48

In [201]:
total = 0
for num in [1, 2, 3, 4, 5]:
    total += num
print(total)

15

#### Using Lambda's with Reduce()

In [203]:
print(random_nums)

[45, 15, 28, 27, 33, 10, 48, 21, 48, 24]

In [204]:
total = reduce(lambda x,y: x + y, random_nums)
print(total)

299

In [205]:
max_val = reduce(lambda a,b: a if a>b else b, random_nums)
print(max_val)

48

#### In-Class Exercise #4 <br>
<p>Use the reduce function to multiply the numbers in the list below together with a lambda function.</p>

In [206]:
nums = [2, 4, 6, 8, 10]
# Output: 3840

product = reduce(lambda x,y: x*y, nums)
print(product)

3840

In [207]:
prod = 1
for num in nums:
    prod *= num
print(prod)

3840

## Recursion <br>
<p>Recursion means that a function is calling itself, so it contanstly executes until a base case is reached. It will then push the returning values back up the chain until the function is complete. A prime example of recursion is computing factorials... such that 5! (factorial) is 5*4*3*2*1 which equals 120.</p>

```
x! = x * (x-1)!
5! = 5 * 4!
4! = 4 * 3!
3! = 3 * 2!
2! = 2 * 1!
1! = 1
```

In [208]:
def capitalize(name):
    # Takes in a name, upper case the first letter and lower case the rest
    return name[0].upper() + name[1:].lower()

def full_name(first, last):
    # take in a first name, capitalize the first name, take in a last name, capitalize the last name and 
    # then returns the concatenated string of first + space + last
    return capitalize(first) + ' ' + capitalize(last)


def greet_person(first_name, last_name, day_of_week):
    person_full_name = full_name(first_name, last_name)
    print(f"Hello {person_full_name}, it sure is beautiful on this {capitalize(day_of_week)}")
    

greet_person('bRIan', 'StANtOn', 'tUESdaY')

Hello Brian Stanton, it sure is beautiful on this Tuesday

In [209]:
import time

def func_one():
    print("Function One Started")
    time.sleep(5)
    print("Function One Ended")
    
    
def func_two():
    print("Function Two Started")
    func_one()
    print("Function Two Ended")
    
    
func_two()

Function Two Started
Function One Started
Function One Ended
Function Two Ended

#### Implementing a Base Case

In [ ]:
# 5! = 5 * 4!
# 4! = 4 * 3!
# ...
# 1! = 1

# factorial(x) = x * factorial(x-1)

In [210]:
def factorial(x):
    if x <= 1:
        return 1
    else:
        return x * factorial(x-1)
    
factorial(5)

120

In [211]:
def factorial(x):
    if x <= 1:
        print(f"factorial({x}) = 1")
        return 1
    else:
        print(f"factorial({x}) = {x} * factorial({x-1})")
        return x * factorial(x-1)
    
factorial(5)

factorial(5) = 5 * factorial(4)
factorial(4) = 4 * factorial(3)
factorial(3) = 3 * factorial(2)
factorial(2) = 2 * factorial(1)
factorial(1) = 1

120

In [212]:
def factorial_loop(x):
    i = 1
    output = 1
    while i <= x:
        output *= i
        i += 1
    return output

factorial_loop(5)

120

In [213]:
# Can also be used as a way of looping
def loop(a_list):
    if a_list:
        print(a_list[0])
        loop(a_list[1:])
        
        
loop(['red', 'orange', 'yellow', 'green', 'blue', 'indigo', 'violet'])

red
orange
yellow
green
blue
indigo
violet

In [214]:
def is_even(number):
    if number == 1:
        return False
    elif number == 2:
        return True
    else:
        return is_even(number - 2)
    
is_even(21)

False

In [215]:
is_even(44)

True

In [ ]:
# NEED SOME SORT OF BASE CASE

# def factorial(num):
#     return num * factorial(num - 1)

# factorial(3)

## Generators <br>
<p>Generators are a type of iterable, like lists or tuples. They do not allow indexing, but they can still be iterated through with for loops. They are created using functions and the yield statement.</p>

In [216]:
lengths = map(len, ['Brian', 'Stanton', 'Coding Temple', 'Instructor'])

print(lengths)

<map object at 0x000001F47FA0E650>

In [217]:
for item in lengths:
    print(item)

5
7
13
10

In [218]:
for item in lengths:
    print(item)

In [219]:
lengths = map(len, ['Brian', 'Stanton', 'Coding Temple', 'Instructor'])

print(lengths)

<map object at 0x000001F47F9EF340>

In [224]:
next(lengths)

StopIteration:

In [225]:
def square_the_num(num):
    print(f'We are squaring the number {num}')
    return num**2

In [227]:
squares = map(square_the_num, [1, 2, 3, 4, 5, 6])

In [230]:
next(squares)

We are squaring the number 3

9

In [232]:
for yielded_value in squares:
    print(yielded_value)

We are squaring the number 4
16
We are squaring the number 5
25
We are squaring the number 6
36

#### Yield Keyword <br>
<p>The yield keyword denotes a generator, it doesn't return so it won't leave the function and reset all variables in the function scope, instead it yields the number back to the caller.</p>

In [237]:
def my_range_iterator(start, stop, step=1):
    while start < stop:
        yield start
        start += step

In [240]:
my_gen = my_range_iterator(10, 20)
print(my_gen)

<generator object my_range_iterator at 0x000001F4000CB990>

In [251]:
next(my_gen)

StopIteration:

In [253]:
for yielded_value in my_range_iterator(100, 120):
    print(f"The value that is yielded as we loop: {yielded_value}")

The value that is yielded as we loop: 100
The value that is yielded as we loop: 101
The value that is yielded as we loop: 102
The value that is yielded as we loop: 103
The value that is yielded as we loop: 104
The value that is yielded as we loop: 105
The value that is yielded as we loop: 106
The value that is yielded as we loop: 107
The value that is yielded as we loop: 108
The value that is yielded as we loop: 109
The value that is yielded as we loop: 110
The value that is yielded as we loop: 111
The value that is yielded as we loop: 112
The value that is yielded as we loop: 113
The value that is yielded as we loop: 114
The value that is yielded as we loop: 115
The value that is yielded as we loop: 116
The value that is yielded as we loop: 117
The value that is yielded as we loop: 118
The value that is yielded as we loop: 119

In [254]:
for i in my_range_iterator(0, 100, 10):
    print(i)

0
10
20
30
40
50
60
70
80
90

In [258]:
def read_file(filename):
    with open(filename) as large_file:
        for line in large_file:
            yield line
            
file = read_file('whiteboard.py')
print(file)

<generator object read_file at 0x000001F47F774890>

In [259]:
for line in file:
    print(line, end='')

# Pair of gloves
# Winter is coming, you must prepare your ski holidays. The objective of this kata is to determine the number of pair of gloves you can constitute from the gloves you have in your drawer.

# Given an array describing the color of each glove, return the number of pairs you can constitute, assuming that only gloves of the same color can form pairs.

# Examples:
# input = ["red", "green", "red", "blue", "blue"]
# result = 2 (1 red pair + 1 blue pair)

# input = ["red", "red", "red", "red", "red", "red"]
# result = 3 (3 red pairs)

def solution(gloves):
    color_count = {}
    for color in gloves:
        color_count[color] = color_count.get(color, 0) + 1
    pairs = 0
    for color, count in color_count.items():
        pairs_of_color = count // 2
        pairs += pairs_of_color
        print(f"We can make {pairs_of_color} pair{'' if pairs_of_color == 1 else 's'} of {color}")
    return pairs

print(solution(["red", "green", "red", "blue", "blue", "green", 'green', 'red', 'blue', 'blue', 'yellow']))

# def solution(gloves):
#     pairs = 0
#     for color in set(gloves):
#         pairs += gloves.count(color) // 2
#     return pairs

# from collections import Counter
# def solution(arr):
#     glove_dict = Counter(arr)
#     total_pairs = 0

#     for key, value in glove_dict.items():
#         pairs = value // 2
#         total_pairs += pairs

#     return total_pairs

def solution(gloves):
    output = 0
    while len(gloves) > 0:
        if gloves.count(gloves[0]) > 1:
            output += 1
            pair = gloves[0]
            gloves.remove(pair)
            gloves.remove(pair)
        else:
            single = gloves[0]
            gloves.remove(single)
    return output

In [260]:
for line in read_file('test.py'):
    print(line, end='')

import unittest

from whiteboard import solution

class GlovePairsTestCase(unittest.TestCase):
    def test_example_one(self):
        input_gloves = ["red", "green", "red", "blue", "blue"]
        assert solution(input_gloves) == 2

    def test_example_two(self):
        input_gloves = ["red", "red", "red", "red", "red", "red"]
        assert solution(input_gloves) == 3

    def test_empty_input(self):
        input_gloves = []
        assert solution(input_gloves) == 0

    def test_single_color(self):
        input_gloves = ["blue", "blue", "blue"]
        assert solution(input_gloves) == 1

if __name__ == '__main__':
    unittest.main()

# Exercises

### Exercise #1 <br>
<p>Filter out all of the empty strings from the list below</p>

`Output: ['Argentina', 'San Diego', 'Boston', 'New York', 'DC']`

In [38]:
places = [" ","Argentina", " ", "San Diego", "", "  ", "", "Boston", "New York", "DC", "          "]

# Remove all of the empty string
def remove(place):
    if place and place.strip():
        return place
    else:
        return None
    
list(filter(remove, places))

['Argentina', 'San Diego', 'Boston', 'New York', 'DC']

### Exercise #2 <br>
<p>Write an anonymous function that sorts this list by the last name *case insensitive*...<br><b>Hint: Use the ".sort()" method or the "sorted()" function and access the key keyword argument"</b></p>

`Output: ['Victor aNisimov', 'Gary A.J. Bernstein', 'Joel Carter', 'Andrew P. Garfield', 'David hassELHOFF']`

In [ ]:
authors = ["Joel Carter", "Victor aNisimov", "Andrew P. Garfield", "David hassELHOFF", "Gary A.J. Bernstein"]

In [ ]:
def sort_name(author):

In [265]:
class Task:
    def __init__(self, name, priority):
        self.name = name
        self.priority = priority
        
    def __str__(self):
        return f"{self.name} - {self.priority}"
    
    def __repr__(self):
        return f"<Task | {self.name}>"
    
class ToDos:
    def __init__(self):
        self.tasks = [Task('Task 1', 'high'), Task('Task 2', 'medium'), Task('Task 3', 'high'), Task('Task 4', 'low')]
        
my_todos = ToDos()
print(my_todos.tasks)

[<Task | Task 1>, <Task | Task 2>, <Task | Task 3>, <Task | Task 4>]

In [268]:
my_todos.tasks.sort(key=lambda t: 3 if t.priority == 'high' else 2 if t.priority == 'medium' else 1, reverse=True)
print(my_todos.tasks)

[<Task | Task 1>, <Task | Task 3>, <Task | Task 2>, <Task | Task 4>]

### Exercise #3 <br>
<p>Convert the list below from Celsius to Farhenheit, using the map function with a lambda...</p>

`Output: [('Nashua', 89.6), ('Boston', 53.6), ('Los Angeles', 111.2), ('Miami', 84.2)]
`

In [47]:
# F = (9/5)*C + 32
places = [('Nashua',32),("Boston",12),("Los Angeles",44),("Miami",29)]

def C_to_F(place):
    x = (9/5)*(place) + 32
    return x

list(map(lambda p: (p[0], C_to_F(p[1])), places))

[('Nashua', 89.6), ('Boston', 53.6), ('Los Angeles', 111.2), ('Miami', 84.2)]

### Exercise #4 <br>
<p>Write a recursion function to perform the fibonacci sequence up to the number passed in.</p> <p>More information on the Fibonacci Sequence <a href="https://en.wikipedia.org/wiki/Fibonacci_sequence" target="_blank">here</a>. Start the sequence with `0,1,1,...`.</p>

### Exercise #5<br>
<p>Create a generator that takes a number argument and yields that number squared down to 0, then call the generator and iterate through and print the result.</p>

In [6]:
# for i in generator(10):
#     print(i)

# 100
# 81
# 64
# 49
# 36
# 25
# 16
# 9
# 4
# 2
# 1
# 0

def generator(argum):
    while argum >= 0:
      z = argum ** 2
      argum = argum -1
      print(z)

for i in generator(10):
    print(i)

100
81
64
49
36
25
16
9
4
1
0

TypeError: 'NoneType' object is not iterable